@charset "UTF-8";

@font-face {
    font-family: 'comic';
    src: url('../desafios/d012/fontes/ComicNeueSansID.ttf') format('TrueType');
}

body{
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'comic';
    text-transform: uppercase;
}

ul{
    font-size: 3vw;
}

a{
    text-decoration: none;
    color: black;
}